    <footer class=" row-offcanvas row-offcanvas-right">
      <hr>
      <div class="container">
        <ul class="list-inline text-center">
          <li>Powered by <a href="http://gohugo.io">Hugo</a></li>
          <li>·</li>
          <li><a href="http://bootswatch.com/flatly/">Flatly</a> theme</li>
          <li>·</li>
          <li><a href="https://github.com/CaryLorrk/carylorrk.github.io">Github</a></li>
          <li>·</li>
          <li><a href="/index.xml">RSS feed</a></li>
          <li>·</li>
          <li><a href="https://github.com/CaryLorrk/carylorrk.github.io/issues">Issue</a></li>
        </ul>
      </div>
    </footer>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaroud.js"></script>
    <script src="/js/offcanvas.js"></script>
    <script src="/js/google.js"></script>
  </body>
</html>
