<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{.Site.Title}}</title>

    <!-- Bootstrap -->
    <link href="/css/flatly.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/offcanvas.css">

    <script src="/js/google.js"></script>

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="img-circle" src="http://www.gravatar.com/avatar/fecd54dda9b7aa595632ba886801a56b?s=23" alt="Avatar">
            <span>{{.Site.Title}}</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
            </li>
            <li><a href="/">首頁</a></li>
            <li><a href="/page/about/">關於我</a></li>
            <li><a href="/page/skill/">技能樹</a></li>
            <li><a href="/post/">部落格</a></li>
          </ul>
        </div>
      </div>
    </div>
