<h4> 
  <a href="/post/index.xml" class="pull-right">
    <img src="/img/rss-16.png" alt="rss" class="rss-icon">
  </a>
  <a href="/post/">所有文章</a>
</h4>
<h4>分類</h4>
<ul class="list-unstyled">
  {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
    <li>
      <a href="/categories/{{ $name | urlize }}/index.xml" class="pull-right">
        <img src="/img/rss-16.png" alt="rss" class="rss-icon">
      </a>
      <a href="/categories/{{ $name | urlize }}">{{ $name }}</a>
    </li>
  {{ end }}
</ul>
<hr>
<h4>標籤</h4>
<ul class="list-unstyled">
  {{range .Site.Taxonomies.tags.ByCount}}
  <li>
    <a href="/tags/{{ .Name | urlize }}/index.xml" class="pull-right">
      <img src="/img/rss-16.png" alt="rss" class="rss-icon">
    </a>
    <a href="/tags/{{ .Name | urlize }}">{{.Name}}</a>
  </li>
  {{end}}
</ul>
