<div class="row">
  <ul>
    {{ $length := len .Data.Pages  }}
    {{ range $index, $page := .Data.Pages.ByDate.Reverse }}
      {{ if $index  }}
        <div class="col-md-10 col-md-offset-1">
          <hr>
        </div>
      {{ end }}
      {{ .Render "summary"}}
    {{ end }}
  </ul>
</div>
