{{ partial "header.html" . }}

<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>
            {{ .Title }}
            <p class="pull-right visible-xs">
              <button class="btn btn-primary btn-xs" data-toggle="offcanvas" type="button">
                <span class="glyphicon glyphicon-chevron-right btn-offcanvas"></span>
              </button>
            </p>
          </h3>
          <small>
            <ul class="list-inline">
              <li>
                <span class="label label-primary">{{ .Date.Format "Mon Jan 2, 2006" }}</span>
              </li>
              <li>
                分類:
                {{ range $index, $element := .Params.categories }}
                  {{if $index}} , {{end}}
                  <a href="/categories/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
              </li>
              <li>
                標籤:
                {{ range $index, $element := .Params.tags }}
                  {{if $index}} , {{end}}
                  <a href="/tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
              </li>
            </ul>
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          {{ .Content }}
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
      {{ partial "post-sidebar.html" . }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
