<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h3>
      <a href="{{.Permalink}}">{{ .Title }}</a>
    </h3>
    <small>
      <ul class="list-inline">
        <li>
          <span class="label label-primary">{{ .Date.Format "Mon Jan 2, 2006" }}</span> 
        </li>
        <li>
        分類:
          {{ range $index, $element :=.Params.categories }}
            {{if $index}} , {{end}}
            <a href="/categories/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </li>
        <li>
          標籤: 			 
          {{ range $index, $element :=.Params.tags }}
            {{if $index}} , {{end}}
            <a href="/tags/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </li>
      </ul>
    </small>
  </div>
</div>	
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <br> 
    {{ .Description }}
  </div>
</div>
