{{ partial "header.html" . }}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>最近更新</h2>
    </div>
  </div>
  {{ partial "summary-list.html" . }}
</div>
{{ partial "footer.html" . }}
