{{ partial "header.html" . }}
<div class="container">	
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h2>{{ .Title }}</h2>
			 <span class="label label-primary">{{ .Date.Format "Mon Jan 2, 2006" }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<br>
			{{ .Content }}
		</div>
	</div>
</div>
{{ partial "footer.html" . }}
