<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h3><a href="{{.Permalink}}">{{ .Title }}</a></h3>
    <small>
      <span class="label label-primary">{{ .Date.Format "Mon Jan 2, 2006" }}</span> 
    </small>
  </div>
</div>	
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <br> 
    {{ .Description }}
  </div>
</div>
