html, body {
  overflow-x: hidden;
}

body {
  padding-top: 70px;
}

body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial, "微軟正黑體", "Microsoft JhengHei",sans-serif;
}

.rss-icon {
  height: 16px;
  width: 16px;
}

.reset-box-sizing,
.reset-box-sizing * {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
