{{ partial "header.html" . }}
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <div class="row">
        <h2 class="text-center">
          標籤: {{.Title}}
          <p class="pull-right visible-xs">
            <button class="btn btn-primary btn-xs" data-toggle="offcanvas" type="button">
              <span class="glyphicon glyphicon-chevron-right btn-offcanvas"></span>
            </button>
          </p>
        </h2>
      </div>
      {{ partial "summary-list.html" . }}
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
      {{ partial "post-sidebar.html" . }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
